/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wdht' var(--text-weight) var(--title-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  inline-size: clamp(375px, 100vw, 700px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font), sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin-block: 100px;
}

.header__title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--header-title-size);
  margin-block-start: clamp(120px, 32.3450134770889% - 1.350px, 136px);
  margin-block-end: 20px;
}

.header__title:focus {
  outline: none;
}

.header__title:focus-visible {
  outline: none;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: var(--header-subtitle-size);
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  transform: translate(10px,-2px);
}

.theme-menu__button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: var(--accent-color);
  opacity: 0.6;
  left: -1px;
}

.theme-menu__button:focus-visible::after {
  border: none;
  width:100%;
  transition: width 0.3s;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  width: 14px;
  height: 14px;
  position: absolute;
  left: -12px;
  top: 1px;
  animation: move 0.5s ease-in-out infinite;
}

.content-item {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  margin-block-end: 50px;
}

.content-title {
  font-size: 18px;
  margin-block: 3px;
  margin-inline: 10px;
  letter-spacing: -0.02em;
  line-height: 23.7px;
}

.image-block {
  position: relative;
}

.content-image {
  block-size: 696px;
  width: 100%;
  object-fit: cover;
  border-width: 2px 0;
  border-style: solid;
  border-color: var(--accent-color);
}

.invert {
  filter: invert(100%);
}

.satur {
  filter: saturate(300%)
}

.contr {
  filter: contrast(200%);
}

.sep {
  filter: sepia(0.5);
}

.opac {
  filter: opacity(0.7);
}

.rotate {
  filter: hue-rotate(0.5turn)
}

.multy {
  filter: grayscale() invert(75%);
}

.image-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--text-weight);
  font-size: 14px;
  color: var(--accent-color);
  -webkit-text-stroke: 1px solid var(--stroke-color);
  mix-blend-mode: hard-light;
  filter: opacity(0.5);
}

@supports((-webkit-text-stroke: 1px var(--stroke-color))) {
  .image-watermark {
      -webkit-text-stroke: 1px #FFF;
      text-shadow: none;
  }
} 

.text-block {
  margin: 21px 25px 25px;
  font-family: inherit;
  font-size: 18px;
  font-weight: var(--text-weight);
}

.content-text:not(:last-of-type) {
  margin-block-end: 27px;
}

.button-block {
  display: flex;
  margin-block-end: 25px;
  margin-inline-start: calc(100% - 200px);
  align-items: flex-start;
  gap: 6px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  color: var(--button__text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  display: flex;
  position: relative;
  height: 38px;
  width: 130px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.card__like-button .button__text {
  margin: auto;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  transform: scaleX(0);
  transform-origin: center left;
  background-color: var(--accent-color);
}

.card__like-button:hover::after {
  animation: like 0.5s ease-in-out forwards;
}

.card__icon-button {
  margin-inline-end: 3px;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: translate(1px, 3px);
  height: 34px;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline-width: 2px;
  outline-color: var(--accent-color);
  transition: outline-color 0.3s ease;
}

.submit {
  display: flex;
}

.footer__button {
  position: relative;
  margin: 0 auto 100px;
  padding: 15px 21px 15px 19px;
  min-block-size: 55px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}

.footer__button:focus-visible {
  outline: none;
}

.footer__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  transform: scaleX(0);
  transform-origin: center left;
  background-color: var(--accent-color);
}

.footer__button:hover::after {
  animation: like 0.5s ease-in-out forwards;
}

.footer__dialog[open] {
  min-inline-size: 343px;
  max-inline-size: 353px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 30px;
  background-color: var(--background-color);
  color: var(--accent-color);
  padding: 30px;
  border: 2px solid var(--accent-color)
}

.footer__dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.footer__dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__floppy {
  position: relative;
  color: var(--button__text-color);
  mix-blend-mode: difference;
  flex-shrink: 0;
  z-index: 1;
}

.footer__button .footer__floppy {
  width: 21px;
}

.footer__dialog .footer__floppy {
  width: 39px;
}

.dialog__text {
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--text-weight);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog__button {
  position: relative;
  inline-size: 100%;
  block-size: 38px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--accent-color);
  padding: 0;
  cursor: pointer;
}

.dialog__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  transform: scaleX(0);
  transform-origin: center left;
  background-color: var(--accent-color);
}

.dialog__button:hover::after {
  animation: like 0.5s ease-in-out forwards;
}

.dialog__button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s;
}

.dialog__button:focus-visible {
  outline: none;
}

.dialog__button .button__text {
  text-transform: uppercase;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .theme-menu__button:disabled::before {
    animation: move 1s ease infinite;
  }
}

@media (width <= 375px) {

  .content-image {
    block-size: 371px;
  }  
  
  .image-watermark {
    right: 13px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    padding: 15px 20.5px 15px 19.5px;
  }

  .footer__button .footer__floppy {
    width: 28px;
  }

  .footer__dialog[open] {
    padding: 30px 42px;
    max-inline-size: 339px;
  }
}